.image{
  
    height: 50%;
    width: 20%;
    margin-left: 60%;
  }  
  
  .style{
    background-image: url('../../images/ImageSignUp.png');
    height: 800px;
    width: 100%;
    text-align: left;
  }