.snacks{
    display: flex;
    }

.mystyle{
    margin: 10px;
    background-color: aqua;
}

.yourStyle{
    border-radius: 8px;
    height: 240px;
    width: 300px;
}
.block{
    display: inline-block;
}
